@charset "UTF-8";

/* Typical Device Breakpoints
-------------------------------
pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width:768px) and (max-width:992px) {
    body {
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(to top, #310e17, #733250);
    }
    
    section#login {
        width: 80vw;
    }

    section#login > div#imagem  {
        float: left;
        height: 100%;
        width: 40%;
    }

    section#login > div#formulario {
        float: right;
        width: 60%;
    }
}

@media screen and (min-width:992px) {
    body {
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(to top, #22070e, #733250);
    }
    
    section#login {
        width: 950px;
    }

    section#login > div#imagem {
        float:right;
        height:100%;
        width: 50%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario {
        font-size: 1.3em;
    }
}